@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales */
/* Resetear estilos por defecto del navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Asegúrate de que esto esté presente */
  display: flex;
  flex-direction: column;
}

/* Estilos para el body */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Estilos para el layout */
.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

/* Estilos para el main */
.main {
  flex: 1;
  padding: 20px;
}

